In [3]:
import pandas as pd

coffee = pd.read_csv("../data/preprocessed/coffee_label.csv")
coffee

            Date  Coffee_Price  Coffee_Price_Return
0     2015-01-02    161.050003             0.000000
1     2015-01-03    161.050003             0.000000
2     2015-01-04    161.050003             0.000000
3     2015-01-05    168.100006             0.043775
4     2015-01-06    174.899994             0.040452
...          ...           ...                  ...
3729  2025-03-19    394.600006             0.019243
3730  2025-03-20    392.149994            -0.006209
3731  2025-03-21    391.399994            -0.001913
3732  2025-03-22    391.399994            -0.001913
3733  2025-03-23    391.399994            -0.001913

[3734 rows x 3 columns]

In [15]:
# 'Date' 컬럼을 datetime 형식으로 변환
coffee['Date'] = pd.to_datetime(coffee['Date'])

# 연도별로 그룹화
coffee['Year'] = coffee['Date'].dt.year
annual_price = coffee.groupby('Year').agg(
    {'Coffee_Price': ['min', 'max', 'last']}).reset_index()

# 컬럼명 재정리 (정확한 순서로 컬럼명 변경)
annual_price.columns = ['Year', 'Min_Price', 'Max_Price', 'Last_Price']

# 변화율, 최대 최소 차와 비율 계산
annual_price['Price_Change'] = annual_price['Last_Price'].pct_change() + 1
annual_price['Max-Min'] = annual_price['Max_Price'] - annual_price['Min_Price']
annual_price['Max/Min'] = annual_price['Max_Price'] / annual_price['Min_Price']

# 출력
print(f"{annual_price[5:]}\n")

avg_price_change = annual_price[5:]['Price_Change'].mean()
print(f"평균 증감률: {avg_price_change}")

avg_min_max_rate = annual_price[5:]['Max/Min'].mean()
print(f"평균 증감률: {avg_min_max_rate}")

    Year   Min_Price   Max_Price  Last_Price  Price_Change     Max-Min  \
5   2020   93.650002  134.800003  128.250000      0.988820   41.150002
6   2021  120.900002  250.199997  226.100006      1.762963  129.299995
7   2022  151.300003  258.350006  167.300003      0.739938  107.050003
8   2023  143.899994  209.550003  188.300003      1.125523   65.650009
9   2024  179.199997  335.649994  319.750000      1.698088  156.449997
10  2025  316.450012  438.899994  391.399994      1.224081  122.449982

     Max/Min
5   1.439402
6   2.069479
7   1.707535
8   1.456220
9   1.873047
10  1.386949

평균 증감률: 1.2565689828130944
평균 증감률: 1.6554385075017317